<div class="body-container">
    
    <div class="heading">
        <h1>Student Updation</h1>
    </div>

    
        <%= render "form", student: @edit_student %>
    

    <div class="bottom-button">
        <%= link_to "Student Home", students_path, class:"btn btn-info" %>
    </div>

</div>
