<h4>Terms & Conditions : </h4>

<ol>
    <li>You have to follow all rules & regulations</li>
    <li>You have to maintain Discipline in campus</li>
    <li>You have to maintain peace in campus</li>
    <li>You have to keep campus clean</li>
    <li>Do not waste any resources of institution like water,electricity</li>
    <li>Do not damage any instruments,resources of school</li>
    <li>You have to come to school with full-uniform</li>
    <li>You have to respect all the Faculties</li>
    <li>Do not be a part of any action that includes violence and abusive language</li>
</ol>

 
                
