<div class="body-container">
    
    <div class="heading">
        <h1>Faculty Updation</h1>
    </div>

    
        <%= render "form", faculty: @edit_faculty %>
    

    <div class="bottom-button">
        <%= link_to "Faculty Home", faculties_path, class:"btn btn-info" %>
    </div>

</div>
