<div class="registration">
<br>
<h1 style="color:Darkblue">Update Author</h1>
<br>
<%= render "form", author: @edit_author %>
<br>
<%= link_to "Author Home", authors_path, class: "btn btn-info" %>
</div>
