<div class="registration">
<br>
<h1 style="color:Darkblue">Update Author</h1>
<br>
<%= render "form", book: @edit_book %>
<br>
<%= link_to "Back", author_path(@edit_book.author_id), class: "btn btn-info" %>
</div>
