<div class="registration">
<br>
<h1 style="color:Darkblue">Product Registration</h1>
<br>
<%= render "form", product: @new_product %>
<br>
<%= link_to "Home", root_path, class: "btn btn-info" %>
</div>
